@media(max-width:1200px){
    .header{
        &__oficial{
            font-size: 9px;
            span{
                font-size: 13px;
            }
        }
        &__numb{
            font-size: 15px;
        }
    }
    .promo{
        &__title{
            font-size: 38px;
        }
        &__subtitle{
            font-size: 21px;
        }
    }
}
@media(max-width:991px){
    .header{
        &__logo{
            width: 211px;
        }
        &__oficial{
            display: none;
        }
        &__numb{
            margin-bottom: 0;
        }
    }
    .promo{
        &__title{
            font-size: 28px;
        }
        &__subtitle{
            font-size: 16px;
        }
        &__catalogtext{
            a{
                font-size: 12px;
            }
        }
    }
    .consult{
        .title{
            font-size: 32px;
        }
    }
    .container{
        .carousel{
            &__inner{
                width: 100%;
                img{
                    width: 100%;
                }
            }
        }
    }
}
@media(max-width:767px){
    .advanteges{
        &__wrapper{
            flex-wrap: wrap-reverse;
            align-content: space-around;
        }
    }
    .promo{
        &__title{
            text-align: center;
        }
        &__subtitle{
            text-align: center;
        }
    }
    
}
@media(max-width:575px){
    .header{
        .button{
            width: 141px;
            height: 24px;
        }
        &__numb{
            display: none;
        }
        &__logo{
            display: block;
            margin: 0 auto 14px auto;
        }
    }
    .promo{
        .button{
            display: block;
            margin: 0 auto;
        }
        &__wrapper{
            padding-top: 42px;
        }
    }
    .advanteges{
        &__wrapper{
            flex-direction: column;
            justify-content: space-around;
            align-content: center;
            flex-wrap: nowrap;
        }
        &__block{
            width: auto;
        }
    }
    .consult{
        .title{
            font-size: 18px;
            text-align: center;
        }
        .container{
            .consult__descr{
                text-align: center;
                font-size: 14px;
            }
            .feed-form{
                align-content: center;
            }
        }
        
    }
}
