.promo{
    min-height: 650px;
    padding: 21px 0 93px 0;
    background: url('../img/bg/bg1.png') center (center /cover) no-repeat;
    &__wrapper{
        padding-top: 91px;
    }
    &__title{
        color: #ffffff;
        font-size: 42px;
        font-weight: 700;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-transform: uppercase;
    }
    &__subtitle{
        color: #ffffff;
        font-size: 24px;
        font-weight: 500;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-transform: uppercase; 
    }
    &__icons{
        margin-top: 66px;
        display: flex;
        justify-content: space-between;
    }
    &__iconblock{
        width: 106px;
    }
    &__icon{
        display: block;
        margin: 0 auto;
    }
    &__descr{
        margin: 20px 0 68px 0;
        color: #ffffff;
        font-size: 13px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: center;
    }
    &__catalogtext{
        margin-top: 35px;
        color: #ffffff;
        font-size: 16px;
        font-weight: 500;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: right;
        a{
            color: #ffffff;
            text-decoration: underline;
            &:hover{
                color: $main-color;
            }
        }
    }
}
